.banner {
  width: 100%;
  min-height: 500px;  
  background-size: contain;  
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}


.banner-content {
  color: #000;  
  max-width: 800px;
}

.banner-content h1 {
  font-size: 3rem;
  margin-bottom: 15px;
  font-weight: 700;
}

.banner-content p {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

/* Responsive */
@media (max-width: 768px) {
  .banner {
    min-height: 300px;
  }

  .banner-content h1 {
    font-size: 2rem;
  }

  .banner-content p {
    font-size: 1rem;
  }
}